# Created by .ignore support plugin (hsz.mobi)
### npm template
.idea

~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old
*.log

tsconfig.json
#package-lock.json

test

.github
.gitkeep

*.ts
!*.d.ts

/.*
/bin/*.d.ts
!/lib/static/*
!/lib/static/.npmignore
*.tgz

!/lib/static/tsconfig.json.tpl
